@model IEnumerable<SG.Distributeur.Automatique.Models.Recette>

@{
    ViewData["Title"] = "Index";
    var options = new SelectList(Model, "Id", "Nom");
}
<html>
<body>
    <div>
        

        @using (Html.BeginForm("GetPrix", "Recette", FormMethod.Post, new { @name = "Form1" }))
        {
            @Html.DropDownList("Id", options, "choisir une recette", new { @id = "ddlRecettes" })
            @Html.Hidden("Nom", null, new { @id = "hfNom" })
        }
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $("body").on("change", "#ddlRecettes", function () {
                $("#hfNom").val($(this).find("option:selected").text());
                document.forms["Form1"].submit();
            });
        </script>
        
    </div>
    <div>
        @if (@TempData["Message"] != null)
        {
            <label>Prix : </label>@TempData["Message"]
        }
    </div>
</body>
</html>

