@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour</h1>
    Il s'agit d'une application MVC core (version 3.1)<br />
    L'application contient 3 controlleur <br />
    - Hom : description de l'application<br />
    - Produit : permet la gestion des produit (Ajout), les données sont stockées dans une classe statique <br />
    - Recette : en choisissant la recette le prix sera calculé automatiquement<br />
    
</div>
